@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  .animate-scroll-left {
    display: flex;
    width: max-content;
    animation: scroll-left 25s linear infinite;
  }
  